/*头部导航栏*/
.header {
    width: 100%;
    height: 72px;
}
.header .header-nav {
    height: 100%;
    position: relative;
}
.header-nav>a img {
    width: 92px;
    height: auto;
    margin-top: 15px;
    float: left;
}
.header-nav .location {
    height: 100%;
    float: left;
    position: relative;
    margin-left: 54px;
    line-height: 72px;
    white-space: nowrap;
    cursor: pointer;
}
.header-nav .location .location-img {
    width: 12px;
    display: inline-block;
    vertical-align: middle;
}
.header-nav .location .circle-img {
    width: 9px;
    display: inline-block;
    vertical-align: middle;
}
.header-nav .location .location-city {
    max-width: 60px;
    font-size: 16px;
    color: #2D2D2D;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-nav .location .city-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.header-nav .location:hover .city-wrap {
    display: block;
}
.header-nav .location .city {
    width: 626px;
    z-index: 999;
    position: relative;
    left: -115px;
    top: 0;
    margin-top: 60px;
    background: #FFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 2px;
    padding: 21px;
}
.header-nav .location .city .city-now {
    line-height: 25px;
}
.header-nav .location .city .city-now span {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    vertical-align: top;
    float: left;
}
.header-nav .location .city .city-now span:nth-child(1) {
    width: 86px;
    color: #111;
}
.header-nav .location .city .city-now span:nth-child(2) {
    color: #FF1268;
    background-color: #fff4f8;
    padding: 0 10px;
}
.header-nav .location .city .city-hot {
    line-height: 25px;
    margin-top: 16px;
}
.header-nav .location .city .city-hot>span {
    width: 86px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    float: left;
}
.header-nav .location .city .city-hot .hot-list {
    width: 525px;
    display: inline-block;
    line-height: 29px;
    margin-top: -3px;
}
.header-nav .location .city .city-hot .hot-list .list-item {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    float: left;
}
.header-nav .location .city  .city-other {
    line-height: 25px;
    padding-top: 15px;
    border-top: 1px solid #EEE;
    margin-top: 15px;
}
.header-nav .location .city  .city-other>span {
    width: 86px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    float: left;
}
.header-nav .location .city  .city-other .other-list {
    width: 525px;
    line-height: 29px;
    margin-top: -3px;
    display: inline-block;
}
.header-nav .location .city  .city-other .other-list .list-item {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    float: left;
}
.header-nav .recommend {
    max-width: 220px;
    float: left;
    margin-right: -20px;
    margin-left: 40px;
    overflow: hidden;
}
.header-nav .recommend a:nth-child(1) {
    color: #FF1268;
}
.header-nav .recommend a {
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
    line-height: 72px;
}
.header-nav .search {
    width: 401px;
    height: 46px;
    margin-top: 12px;
    margin-right: 20px;
    line-height: 46px;
    float: left;
    position: relative;
    right: -160px;
}
.header-nav .search img {
    width: 17px;
    position: absolute;
    left: 22px;
    top: 15px;
    z-index: 11;
}
.header-nav .search input {
    width: 253px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 16px;
    outline: 0;
    padding: 0 10px 0 54px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-right-color: #FF1268;
    box-sizing: content-box;
}
.header-nav .search .search-btn {
    width: 82px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FF1268;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 0 27px 27px 0;
    z-index: 11;
    letter-spacing: 4px;
    cursor: pointer;
}
.header-nav .right-nav {
    min-width: 55px;
    height: 100%;
    position: relative;
    float: right;
    line-height: 72px;
}
.header-nav .right-nav .list-item {
    float: left;
    margin-left: 20px;
}
.header-nav .right-nav .list-item>img {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.header-nav .right-nav .list-item .text {
    display: inline-block;
    vertical-align: middle;
    color: #111;
    cursor: pointer;
    font-size: 16px;
}
.header-nav .right-nav .list-item .children-list {
    width: 133px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -144px;
    top: 50px;
    z-index: 999;
}
.header-nav .right-nav .list-item:hover .children-list {
    display: block;
}
.header-nav .right-nav .list-item .children-list .circle {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    transform: rotate(45deg);
    left: 57px;
    top: 4px;
}
.header-nav .right-nav .list-item .children-list .list-login {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 2px;
}
.header-nav .right-nav .list-item .children-list .list-login a {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
}
.header-nav .right-nav .list-item:hover .item-download {
    display: block;
}
.header-nav .right-nav .list-item .item-download {
    width: 80px;
    height: 80px;
    display: none;
    position: absolute;
    top: 60px;
    left: 105px;
    z-index: 999;
    background: #fff;
    padding: 5px;
    box-shadow: 1px -1px 1px #ccc;
}
.header-nav .right-nav .list-item .item-download .circle {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    transform: rotate(45deg);
    left: 38px;
    top: -7px;
}
.header-nav .right-nav .list-item .item-download img {
    width: 100%;
}

/*轮播模块*/
.slider {
    position: relative;
    margin: 0 auto;
    height: 320px;
}
.slider .container {
    position: relative;
}
/*创建动画*/
@keyframes imgMove {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-1200px);
    }
}
.slider .slider-content {
    height: 320px;
    position: absolute;
    z-index: 0;
    opacity: 1;
    display: block;
    overflow: hidden;
}
.slider .slider-content>a {
    width: 3600px;
    height: 320px;
}
.slider .slider-content ul {
    width: 200%;
    animation: imgMove 5s ease infinite;
}
.slider .slider-content ul:hover {
    animation-play-state: paused;
}
.slider .slider-content ul li {
    width: 1200px;
    float: left;
}
.slider .slider-content ul img {
    width: 1200px;
    height: 320px;
}
.slider .prev {
    position: absolute;
    top: 160px;
    margin-top: -32px;
    width: 56px;
    height: 64px;
    display: block;
    z-index: 101;
    background: rgba(0,0,0,.5);
    cursor: pointer;
}
.slider .prev .circle {
    position: absolute;
    left: 21px;
    right: 20px;
    top: 50%;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    transform: translate(0,-50%) rotate(-135deg);
}
.slider .next {
    position: absolute;
    right: 0;
    top: 160px;
    margin-top: -32px;
    width: 56px;
    height: 64px;
    display: block;
    z-index: 101;
    background: rgba(0,0,0,.5);
    cursor: pointer;
}
.slider .next .circle {
    position: absolute;
    right: 20px;
    top: 50%;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    transform: translate(0,-50%) rotate(45deg);
}

/*轮播图下的分类导航*/
.main-nav .container{
    margin-top: 15px;
    padding: 22px 0 25px 0;
    border: 1px solid #EBEBEB;
    zoom: 1;
}
.main-nav .nav-sort {
    float: left;
    display: block;
    text-align: center;
    width: 120px;
}
.main-nav .nav-sort .sort-icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background: url("../images/TB1U9R8GY9YBuNjy0FgXXcxcXXa-146-1822.png") no-repeat;
    background-size: 100% auto;
}
.main-nav .nav-sort .sort-info {
    font-size: 16px;
    color: #111;
    text-align: center;
}
.main-nav .nav-sort:nth-child(2) .sort-icon {
    background-position: 0 -64px;
}
.main-nav .nav-sort:nth-child(3) .sort-icon {
    background-position: 0 -120px;
}
.main-nav .nav-sort:nth-child(4) .sort-icon {
    background-position: 0 -180px;
}
.main-nav .nav-sort:nth-child(5) .sort-icon {
    background-position: 0 -240px;
}
.main-nav .nav-sort:nth-child(6) .sort-icon {
    background-position: 0 -297px;
}
.main-nav .nav-sort:nth-child(7) .sort-icon {
    background-position: 0 -360px;
}
.main-nav .nav-sort:nth-child(8) .sort-icon {
    background-position: 0 -420px;
}
.main-nav .nav-sort:nth-child(9) .sort-icon {
    background-position: 0 -480px;
}
.main-nav .nav-sort:nth-child(10) .sort-icon {
    background-position: 0 -540px;
}

/*演唱会部分*/
.concert-warp {
    margin-bottom: 30px;
    position: relative;
    font-size: 0;
}
.concert-warp .warp {
    width: 1160px;
    position: relative;
    padding: 20px;
    border: 1px solid #EBEBEB;
    margin-top: 15px;
}
.concert-warp .head {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.concert-warp .head .head-title {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #111;
    width: 500px;
    height: 40px;
    overflow: hidden;
}
.concert-warp .head .head-more {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 23px;
    font-size: 14px;
    color: #9B9B9B;
    max-width: 450px;
    height: 100%;
    overflow: hidden;
}
.concert-warp .box {
    margin-top: 15px;
}
.concert-warp .box .span4 {
    width: 270px;
    height: 360px;
    position: relative;
    overflow: hidden;
    float: left;
}
.concert-warp .box .span4 img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #efefef;
}
.concert-warp .box .span4 .span-info {
    width: 250px;
    height: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 10px;
    background-color: rgba(0,0,0,.5);
}
.concert-warp .box .span4 .span-info .title {
    height: 45px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}
.concert-warp .box .span4 .span-info .price {
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}
.concert-warp .box .span4 .span-info .price span {
    font-size: 14px;
}
.concert-warp .box .span16 {
    /*width: 860px;*/
    display: inline-block;
    float: right;
    width: 870px;
    margin-left: 20px;
    height: 360px;
    vertical-align: top;
    overflow: hidden;
}
.concert-warp .box .span16 a {
    float: left;
    width: 273px;
    height: 160px;
    display: block;
    margin-right: 16px;
    margin-bottom: 40px;
    color: #000;
    overflow: hidden;
}
.concert-warp .box .span16 .item-img {
    width: 118px;
    height: 158px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #efefef;
}
.concert-warp .box .span16 .item-img  img {
    width: 100%;
}
.concert-warp .box .span16 .item-info {
    width: 138px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
}
.concert-warp .box .span16 .item-info .title {
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
    overflow: hidden;
}
.concert-warp .box .span16 .item-info .place {
    width: 100%;
    font-size: 12px;
    margin-top: 14px;
    color: #9B9B9B;
    overflow: hidden;
}
.concert-warp .box .span16 .item-info .showtime {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    color: #9B9B9B;
    overflow: hidden;
}
.concert-warp .box .span16 .item-info .price {
    width: 138px;
    position: absolute;
    left: 15px;
    bottom: -45px;
    font-size: 16px;
    color: #FF1268;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.concert-warp .box .span16 .item-info .price span {
    font-size: 12px;
}

/*底部模块*/
.footer {
    padding-bottom: 58px;
    background-color: #f8f8f8;
}
.footer .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    text-align: center;
    zoom: 1;
}
.footer .footer-links .links-list {
    float: left;
    font-size: 13px;
    color: #111;
}
.footer .footer-links .links-list:hover a{
    color: #FF1268;
    text-decoration: underline;
}
.footer .footer-links .links-list a {
    font-size: 13px;
    color: #111;
}
.footer .footer-links .links-seq {
    float: left;
    padding: 0 24px;
}

.footer .footer-logo {
    float: left;
    margin-right: 100px;
}
.footer .footer-logo .logo {
    float: left;
    margin-top: 20px;
}
.footer .footer-logo .logo .logo-img {
    width: 167px;
    height: 60px;
}
.footer .footer-logo .download {
    float: left;
    width: 87px;
    text-align: center;
    margin-left: 40px;
}
.footer .footer-logo .download .download-img {
    display: block;
    width: 87px;
    height: 87px;
    margin-bottom: 8px;
}
.footer .footer-logo .download span {
    font-size: 14px;
    color: #111;
    text-align: center;
}

.footer .footer-intro {
    float: left;
}
.footer .footer-intro .intro-service {
    padding-bottom: 10px;
}
.footer .footer-intro .intro-service a {
    float: left;
    display: block;
    width: 98px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background-color: #ff1268;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
}
.footer .footer-intro .intro-words .words-cert {
    padding-bottom: 6px;
}
.footer .footer-intro .intro-words .words-cert{
    float: left;
    font-size: 13px;
    color: #111;
}
.footer .footer-intro .intro-words .words-cert a{
    font-size: 13px;
    color: #111;
}
.footer .footer-intro .intro-words .words-seq {
    padding: 0 15px;
    float: left;
    font-size: 13px;
    color: #111;
}

/*右侧固定导航栏模块*/
.right-sidebar {
    background: #fff;
    border: 1px solid #EBEBEB;
    width: 80px;
    position: fixed;
    right: 10px;
    top: 72.5%;
    margin-top: -105px;
    z-index: 9999;
}
.right-sidebar .item {
    height: 60px;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    padding-top: 10px;
    color: #111;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
.right-sidebar .item a {
    display: block;
    color: #111;
}
.right-sidebar .item .icon-service {
    background: url("../images/TB1.FXkxTtYBeNjy1XdXXXXyVXa-64-180.png") no-repeat 3px -30px;
    margin: 0 auto;
    width: 32px;
    height: 29px;
    background-size: 100%;
}
.right-sidebar .item:nth-child(2) .icon-service {
    background: url("../images/TB1.FXkxTtYBeNjy1XdXXXXyVXa-64-180.png") no-repeat 0 4px;
    background-size: 100%;
}
.right-sidebar .item:last-child .icon-service {
    background: url("../images/TB1.FXkxTtYBeNjy1XdXXXXyVXa-64-180.png") no-repeat 4px -65px;
    background-size: 100%;
}
.right-sidebar .item p {
    margin-top: 5px;
    font-size: 12px;
}